.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}
.hero img{
    height: 500px;
}
.hero button{
    color: white;
    background-color: rgb(9, 9, 24);
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
}
.hero button:hover{
    color: rgb(9, 9, 24);
    background-color: white;
    border: 1px solid rgb(9, 9, 24);
    border-radius: 5px;
    padding: 10px 30px;
}
.hero p{
    font-size: 24px;
}

