.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  color: #fff;
  text-align: center;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  background: linear-gradient(to right, #292c34, #1e1f26);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar button {
  margin: 5px;
  padding: 10px;
  width: 150px;
  background: linear-gradient(to right, #3d4050, #1f2029);
  color: white;
  border: none;
  cursor: pointer;
}

button.active {
  background: linear-gradient(to right, #607192, #38404a);
}

.main {
  flex: 1;

  height: 100vh;
  overflow-y: scroll;
}
