/* Add your custom styles here */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1a1b1e;
    color: #fff; 
    position: sticky;
    top: 0;
    
  }
  
  .logo {
    width: 50px; 
    height: auto;
  }
  
  .button {
    padding: 10px 15px;
    background-color: #2e80cc; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #27ae60; 
  }
  